<html>

<head>
    <title>Test Input</title>

</head>

<body>
    <h1>Please update us on the elevator status</h1>
    <form method="post">



        <input type="radio" id="down1" name="Down" placeholder="Message title"
            value="{{ request.form['title'] }}"></input>
        <label for="down1">Elevator 1 is down.</label>

        <input type="radio" id="up1" name="Down" placeholder="Message title"
            value="{{ request.form['title'] }}"></input>
        <label for="up1">Elevator 1 is up.</label>

        <input type="radio" id="down2" name="Down" placeholder="Message title"
            value="{{ request.form['title'] }}"></input>
        <label for="down2">Elevator 2 is down.</label><br>

        <input type="radio" id="up2" name="Down" placeholder="Message title"
            value="{{ request.form['title'] }}"></input>
        <label for="up2">Elevator 2 is up.</label><br>





        <button type="submit">Submit</button>
    </form>
</BODY>

</html>