<head>
    <link rel="apple-touch-icon" sizes="180x180" href="/static/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="/static/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/static/favicon-16x16.png">
    <link rel="manifest" href="/static/site.webmanifest">
    <meta charset="utf-8">
    <title>Elevator uptimes in Anderson</title>
    <link rel="stylesheet" href="/static/homepagestyle.css">
</head>

<body div style="background-image: url(static/matdesign.png);">
    <div class="container">

        <section class="lead">
            <h1>What IS this tool for?</h1>
            <p>This webpage lets you know if the elevators in Anderson are up or down. It's currently incomplete.
                Want to help? Use our form to report elevator issues!
            </p>
            <br>
        </section>
        <footer>
            <div class="insta">
                <a href="https://instagram.com/leelo.pr?utm_medium=copy_link" target="_blank"><img
                        src="static/insta.png" alt="Instagram"></a><br>
                <a href="https://m.youtube.com/channel/UC17DJ9xYkod7k5UYJD7QJKg" target="_blank"><img
                        src="static/youtube.png" alt="Youtube"></a>
            </div>
        </footer>
    </div>
</body>